<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
        <style>
            body {
                text-align: center;
            }
            h2 {
                margin: auto;
            }
            
            table {
                border-collapse: collapse;
                margin: auto;
            }
            
            table, th, tr, td {
                border: 1px solid black;
            }
            th, td {
                padding: 15px;
                text-align: left;
            }
            th {
                background-color: #63666A;
                color: #FFF;
            }
            tr:nth-child(even) {
                background-color: #72C8CE;
            }
        </style>
    </head>
    <body>
        <h2>New User Notification</h2>
        <table>
            <thead>
                <tr>
                    <td>Employee Id</td>
                    <th>First Name</th>
                    <th>Initials</th>
                    <th>Last Name</th>
                    <td>Job Title</th>
                    <th>Email Address</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ new_user_info.EmployeeID }}</td>
                    <td>{{ new_user_info.GivenName }}</td>
                    <td>{{ new_user_info.Initials }}</td>
                    <td>{{ new_user_info.Surname }}</td>
                    <td>{{ new_user_info.Title }}</td>
                    <td>{{ new_user_info.UserPrincipalName }}</td>
                    <td>{{ password }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
